.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px royalblue;
}

.note{
    font-size: 15px;
    color: darkviolet;
}

.copy_right_footer{
    position: fixed;
    color:firebrick;
    bottom: 0;
    width: 100%;
    background-color: goldenrod;
    line-height: 3;
    text-align: center;
}

.canvas{
    border:5px sandybrown;
    border-radius: 20px;
    box-shadow: 5px 5px 5px greenyellow;
}